include COPYING version.txt passacre.yaml.example
include libpassacre/CMakeLists.txt libpassacre/passacre.h libpassacre/libpassacre.pc.in
include libpassacre/Cargo.toml libpassacre/build.rs
graft libpassacre/src
graft libpassacre/keccak
graft libpassacre/skein
graft libpassacre/scrypt
