include COPYING version.txt passacre.yaml.example
include libpassacre/CMakeLists.txt libpassacre/ChooseCStandard.cmake
include libpassacre/libpassacre-config.h.in libpassacre/passacre.h
include libpassacre/Cargo.toml libpassacre/build.rs
graft libpassacre/src
graft libpassacre/keccak
graft libpassacre/skein
graft libpassacre/scrypt
